// banner
.banner {
    height: 870px;
    background-image: url("../images/index1.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    .banner-title{
      font-size: 40px;
      line-height: 60px;
    }

    .banner-subtitle{
      font-size: 24px;
      line-height: 36px;
    }

  }

.index-btn{
  width: 350px;
  height: 60px;
  font-size: 24px;

}


// content

.content{
  .content-title{
    font-size: 32px;
    line-height: 48px;
  }

  .content-subtitle{
    font-size: 20px;
    line-height: 30px;
  }
}



.content_productimg1{
  height: 555px;
  width: 100%;
  background-image: url("../images/index2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.content_productimg2{
  height: 555px;
  width: 100%;
  background-image: url("../images/index4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


.content_productimg3{
  height: 1080px;
  width: 100%;
  background-image: url("../images/index5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.content_productimg4{
  height: 555px;
  width: 100%;
  background-image: url("../images/index3.png");
  background-size: cover;
  background-repeat: no-repeat;
}

// feature
.feature-img1{
  background-image: url("../images/index6.jpg");
  height: 540px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.feature-img2{
  background-image: url("../images/index7.jpg");
  height: 540px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.feature-img3{
  background-image: url("../images/index8.jpg");
  height: 540px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.featurelist{
  background-color: $gray-500;
  padding: $spacer * 3;
}


.feature-name{
  font-size: 24px;
  line-height: 36px;
}

.feature-brand,.feature-price{
  font-size: 16px;
  line-height: 24px;
}





// subscribe 
.subscribe {
  background: no-repeat center url(../images/index10.jpg);
  background-size: cover;
  height: 600px;
}

.subscribe-text{
  color: $gray-600;
}

