<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <nav class="container  navbar navbar-expand-lg navbar-light">
      <h1>
        <a class="navbar-brand" href="#">
          <img src="assets/images/d’Perfume.png" width="128" height="38" class="d-inline-block align-center" alt="">
        </a>
      </h1>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
        <ul class="navbar-nav  mt-2 mt-lg-0">
          <li class="nav-item ">
            <a class="nav-link" href="product.html"> <span class="material-icons">
                store_mall_directory
              </span> Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> <span class="material-icons">
                person
              </span>log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#"><span class="material-icons">
                favorite
              </span>Wishlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#"><span class="material-icons">
                shopping_cart
              </span>Cart(3)</a>
          </li>
        </ul>

      </div>
    </nav>


  </header>

  <%- contents %>

  <footer class="footer">
    <nav class="container  navbar navbar-expand-lg ">
      <h1>
        <img src="assets/images/d’Perfumewhite.png" width="128" height="38" class="d-inline-block align-center" alt=""
          loading="lazy">
        <span>© 2020. All Rights Reserved.</span>
      </h1>

      <div class="collapse navbar-collapse justify-content-end d-md-none d-lg-block" id="TogglerDemo">
        <ul class="navbar-nav  mt-2 mt-lg-0">
          <li class="nav-item ">
            <a class="nav-link" href="#"> Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Contact</a>
          </li>

        </ul>

      </div>

    </nav>
  </footer>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>

</body>

</html>