$font-family-base:-apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;

.material-icons{
    &.md-18 { 
      font-size: 18px; 
    }
    &.md-36 { 
      font-size: 36px; 
    }
    &.md-40 { 
      font-size: 40px; 
    }
    &.md-48 { 
      font-size: 48px; 
    }
    &.primary { 
      color:$primary; 
    }
  }